<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta charset='UTF-8'>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>{{ locationName }}</title>
  </head>

  <body>
    {% for comment in comments %}
      {% if comment.commentor %}
        <b>
          {% if user and user.user_id() == comment.commentor.identity %}
            You
          {% else %}
            {{ comment.commentor.email }}
          {% endif %}
        </b> wrote:
      {% else %}
        Anonymous wrote:
      {% endif %}
      <blockquote>{{ comment.body }}</blockquote>
    {% endfor %}

    <form action="/comment?locationName={{ locationName }}" method="post">
      <div><textarea name="body" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Comment"></div>
    </form>

    <hr>

    <form>Location Name:
      <input value="{{ locationName }}" name="locationName">
      <input type="submit" value="switch">
    </form>

    <div>
      {% for loc in locations %}
        <div>{{ loc.name }}</div>
      {% endfor %}
    </div>
    {# User login/logout display #}
    {% if user %}
      {{ user.nickname() }}
    {% endif %}
    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}