<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<title>{{ location.name }}</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
	</head>

	<body>
		{% if location.name %}
			<h3>Location Name</h3>
			<p>{{ location.name }}
		{% endif %}
			<h3>Location Active</h3>
			{% if location.active %}
				<p>{{ location.active }}
			{% else %}
				<p>False
			{% endif %}
		{% if img_url %}
			<h3>Location Image</h3>
			<img src='{{ img_url }}'>
		{% endif %}
		{% if location.rating %}
			<h3>Location Rating</h3>
			<p>{{ location.rating }} Stars
		{% endif %}
		{% if location.description %}
			<h3>Description</h3>
			<blockquote>{{ location.description }}</blockquote>
		{% endif %}
		<br><br><b><a href='/edit?key={{ key }}'>Edit Location</a>
	</body>
</html>